@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* --- GENERAL STYLES --- */

:root {
    --clr-primary-red: hsl(0, 100%, 74%);
    --clr-primary-green: hsl(154, 59%, 51%);
    --clr-accent-blue: hsl(248, 32%, 51%);
    --clr-neutral-dark-blue: hsl(249, 10%, 26%);
    --clr-neutral-grayish-blue: hsl(246, 25%, 77%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    /* - Weights: 400, 500, 600, 700 */
    background-color:hsl(0, 100%, 74%);
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../images/bg-intro-mobile.png") no-repeat;
    background-size: cover;
    z-index: -1; 
}

@media screen and (min-width: 600px) {
    body::before {
        background-image: url("../images/bg-intro-desktop.png");
    }
}

button {
    border: none;
    cursor: pointer;
    font: inherit;
}

input {
    font: inherit;
}

/* --- MAIN STYLES --- */
.main {
    margin: 3rem auto;
    width: 87%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
    align-items: center;
    /* row-gap: 1rem; */
    column-gap: 3rem;
}

/* Column ONE */
.main__col-1 {
    text-align: center;
    margin-bottom: 2.5rem;
    color: white;
}

.main__col-1-title {
    margin-bottom: 1.5rem;
    font-size: 3rem;
    line-height: 1.2
}

.main__col-1-paragraph {
    font-weight: 400;
}

@media screen and (min-width: 600px) {
    .main__col-1 {
        text-align: left;
    }

    .main__col-1-title {
        margin-inline-end: 2rem;
    }

    .main__col-1-paragraph {
        margin-inline-end: 2rem;
    }
}

/* Column TWO */

.main__col-2 {
    text-align: center;
}

.main__col-2-pop {
    color: #FFFFFF;
    background-color: var(--clr-accent-blue);
    border-radius: .5rem;
    box-shadow: 0 0.5rem 0.125rem rgba(0, 0, 0, 0.2);
    margin-bottom: 1.5rem;
    padding: 1rem;
}

@media screen and (min-width: 600px) {
    .main__col-2-pop {
        padding: 1rem 3rem;
    }
}

.main__col-2-form {
    background-color: #FFFFFF;
    box-shadow: 0 0.5rem 0.125rem rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
    border-radius: .5rem;
}

.main__col-2-input-box {
    margin-bottom: 1rem;
    position: relative;
}

.main__col-2-input {
    /* margin-bottom: 1rem; */
    padding: 1rem 2rem;
    width: 100%;
    border: .1rem solid var(--clr-neutral-grayish-blue);
    border-radius: .3rem;
    font-weight: 600;
    font-size: 1rem;
    position: relative;
}

.main__col-2-placeholder {
    color: gray;
    font-weight: 600;
    position: absolute;
    top: 1.0625rem;
    left: 2.0625rem;
    pointer-events: none;
    visibility: visible;
    transition: .2s ease all;
}

.main__col-2-input:valid {
    z-index: 10;
}

.main__col-2-error {
    color: var(--clr-primary-red);
    margin-top: .5rem;
    text-align: right;
    font-size: .9rem;
}

.main__col-2-submit {
    background-color: var(--clr-primary-green);
    color: #FFFFFF;
    font-weight: 500;
    min-width: 100%;
    text-transform: uppercase;
    padding: 1rem;
    font-size: 1.3rem;
    border-radius: .3rem;
    margin-bottom: .5rem;
}

.main__col-2-submit:hover,
.main__col-2-submit:focus {
    opacity: .5;
    box-shadow: inset 0 -0.1875rem 0 0 green;
    background-color: var(--clr-primary-green);
}

.main__col-2-label-radio {
    font-size: .8rem;
    color: var(--clr-neutral-grayish-blue);
}

.main__col-2-link {
    color: var(--clr-primary-red);
}

/* --- FOOTER STYLES --- */

.footer__attribution {
    text-align: center;
}

.footer__attribution a {
    color: #FFFFFF;
}

@media screen and (max-width: 600px) {
    .footer__attribution {
        padding-bottom: 1rem;
    }
}